<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>groupId</key>
	<integer>20182</integer>
	<key>companyId</key>
	<real>20155</real>
	<key>version</key>
	<integer>62</integer>
	<key>server</key>
	<string>https://mdata.liferay.com</string>
</dict>
</plist>
